
/* dotted background */
.journeyLike__dots{
  position: absolute;
  inset: 0;
  pointer-events: none;
  background:
    radial-gradient(circle, rgba(246,173,76,.45) 0 10px, transparent 11px) 83% 14%/180px 180px,
    radial-gradient(circle, rgba(246,173,76,.35) 0 7px, transparent 8px) 70% 28%/190px 190px,
    radial-gradient(circle, rgba(246,173,76,.30) 0 12px, transparent 13px) 92% 36%/210px 210px;
  opacity: .75;
}











