<section class="tabs-shell" dir="rtl">
    <p-tabs value="intro">
        <p-tablist>
            <p-tab value="intro">🌿 التعريف والفكرة</p-tab>
            <p-tab value="steps">🧭 التطبيق العملي (المراحل)</p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel value="intro">
                <app-seven-houses-intro></app-seven-houses-intro>
            </p-tabpanel>

            <p-tabpanel value="steps">
                <app-seven-houses-stepper></app-seven-houses-stepper>

            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</section>