<section dir="rtl" class="block px-2 sm:px-3 lg:px-4">
    <p-tabs value="before-marriage" class="block">

        <p-tablist>
            <p-tablist>
                <p-tab value="before-marriage">💍 ما قبل الزواج</p-tab>
                <p-tab value="pregnancy">🤰 أثناء الحمل</p-tab>
                <p-tab value="health-support">🩺 التوعية الصحية والدعم العام</p-tab>
            </p-tablist>

        </p-tablist>

        <p-tabpanels>
            <p-tabpanel value="before-marriage">
               <app-pre-marriage-chapter></app-pre-marriage-chapter>
            </p-tabpanel>

            <p-tabpanel value="pregnancy">
                <app-pregnancy-chapter></app-pregnancy-chapter>
            </p-tabpanel>

            <p-tabpanel value="health-support">
                <app-down-support-hub></app-down-support-hub>
            </p-tabpanel>
        </p-tabpanels>

    </p-tabs>
</section>