<div class="min-h-screen bg-gradient-to-b from-[#FFF7EF] via-white to-[#F7FBFF]">
<header class="sticky top-0 z-50 backdrop-blur bg-white/70 border-b border-black/5">
  <div class="container py-2 d-flex align-items-center justify-content-between">

    <a routerLink="/" class="no-underline d-flex align-items-center gap-2">
      <img src="assets/images/logo.jpg" class="w-[26px] h-[26px] rounded" alt="" />
      <span class="text-xl font-extrabold text-[#B85C00]">
        <span class="text-dark">خطوات بطل</span>
      </span>
    </a>

    <nav class="d-none d-md-flex gap-3 text-sm"></nav>

    <!-- Right side: slogan + button -->
    <div class="d-flex align-items-center gap-3">
      <span class="text-[12px] text-slate-600 d-none d-md-inline">
        كل يوم… بداية أمل لخطوة جديدة
      </span>

      <p-button
        label="الصفحة للرئيسية"
        routerLink="/"
        styleClass="p-button-sm">
      </p-button>
    </div>

  </div>
</header>



  <main class=" py-4">
    <router-outlet></router-outlet>
  </main>

  <footer class="py-4 text-sm text-gray-600 bg-white/70 border-t border-black/5 text-center">
    <p class="px-3">© خطوات بطل</p>
  </footer>

</div>