
::ng-deep {
  .p-steps-item:first-child::before {
   
    transform: translateX(0%) !important;
}

.p-steps-item:last-child::before {

    transform: translateX(100%) !important;
}



/* Make PrimeNG Steps wrap nicely on small screens */
 .steps-shell .p-steps .p-steps-list {
  flex-wrap: wrap;
  gap: 10px;
}

 .steps-shell .p-steps .p-steps-item {
  flex: 1 1 auto;
  min-width: 130px; /* tweak if you want smaller */
}
}